@font-face{font-family:MV_Waheed;src:url(/fonts/dhivehi/MV_Waheed.otf)}
@font-face{font-family:MV_Faseyha;src:url(/fonts/dhivehi/MV_Faseyha_Mhr.otf)}
@font-face{font-family:MVWaheedSmooth;src:url(/fonts/dhivehi/MVWaheedSmooth.otf)}
@font-face{font-family:MV_Typewriter;src:url(/fonts/dhivehi/mvtyper.ttf)}